:root {
  --main_font: "Catamaran", sans-serif;
  --secondary_font: "Raleway", sans-serif;
  --primary_color: #00275a;
  --secondary_color: #0799d9;
  --gradient--top: linear-gradient(
    to top,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --gradient--bottom: linear-gradient(
    to bottom,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --gradient--bottom_right: linear-gradient(
    to bottom right,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --gradient--bottom_left: linear-gradient(
    to bottom left,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --gradient--top_right: linear-gradient(
    to top right,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --gradient--top_left: linear-gradient(
    to top left,
    #00275a,
    #044179,
    #065d99,
    #067ab9,
    #0799d9
  );
  --font_weight--black: 1000;
  --font_weight--bold: 700;
  --font_weight--medium: 600;
  --font_weight--regular: 400;
  --font_weight--light: 200;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #00275a;
}
::-webkit-scrollbar-thumb:hover {
  background: #004bad;
}
body {
  position: relative;
  width: 100%;
  font-family: var(--main_font);
  font-weight: var(--font_weight--regular);
  color: white;
  overflow-x: hidden;
}
.spinner_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #e0e1e3;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  visibility: visible;
  opacity: 1;
  place-content: center;
  place-items: center;
  transform: all 3s ease-in-out;
}
.spinner_hide {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #00275a;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.main_header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.hero_video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 10;
  z-index: -1;
}
.main_slogant {
  position: relative;
  z-index: 1;
  text-align: center;
  transform: translateY(10vw);
}
.main_headline {
  font-size: 4vw;
}
.main_headline--description {
  font-family: var(--secondary_font);
  font-size: 1.5vw;
}
.left_button,
.right_button {
  position: absolute;
  outline: none;
  color: white;
  padding: 1rem 2rem;
  top: 22vw;
  border: white solid 3px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
  font-size: 3vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.left_button {
  left: 4rem;
}
.right_button {
  right: 4rem;
}
.left_button:hover {
  left: 3rem;
}
.right_button:hover {
  right: 3rem;
}
.navbar_mobile {
  display: none;
}
.main_nav {
  width: 70%;
  margin: 2rem 0;
  background-color: hsla(214, 100%, 18%, 0.5);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  place-content: space-around;
  place-items: center;
  gap: 2rem;
  z-index: 5;
}
.main_nav > ul {
  position: relative;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 1.2vw;
  font-weight: var(--font_weight--regular);
}
.main_nav a,
.main_nav ul a,
.main_nav ul a:visited,
.main_nav ul a:active {
  color: white;
  text-decoration: none;
}
.main_nav ul a:hover,
.main_nav ul a:focus {
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: underline;
}
.main_nav > a > img {
  max-width: 14vw;
}
.main_nav > a > img:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-10px);
}
.dropdown {
  position: relative;
}
.dropdownMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.dropdownMenu-content {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: hsla(214, 100%, 18%, 0.7);
  backdrop-filter: blur(25px);
  top: 50px;
  transform: translate(-150px, -50px);
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.dropdownMenu-content li {
  padding: 1.4rem 0.4rem;
}
.dropdownMenu-content li:hover {
  background-color: hsla(198, 94%, 44%, 0.5);
}
.dropdown:hover .dropdownMenu-content {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -50px);
}
.main {
  position: relative;
  width: 100%;
  height: auto;
  color: #00275a;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.ceo_message {
  width: 80%;
  height: auto;
  color: var(--primary_color);
  gap: 3rem;
  margin: 10rem 0;
  display: flex;
  place-content: center;
  place-items: center;
}
.ceo_image {
  max-width: 500px;
  height: auto;
  margin-right: 1rem;
  box-shadow: hsla(214, 100%, 18%, 0.5) 15px 15px 50px 10px;
  transition: all 0.2s ease-in-out;
}
.ceo_message-title {
  font-size: 3vw;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.ceo_message-description {
  width: 100%;
}
.ceo_message p {
  width: 100%;
  font-size: 1.8rem;
  font-family: var(--secondary_font);
  font-weight: var(--font_weight--light);
  color: black;
}
.ceo_signature {
  position: relative;
}
.about_us {
  position: relative;
  width: 100%;
}
.Who_we_are {
  width: 100%;
  height: 450px;
  text-align: center;
  background-image: url("../Images/locations-1920.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.Who_we_are h2 {
  position: relative;
  font-size: 8rem;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.Who_we_are p {
  position: relative;
  width: 70%;
  color: white;
  font-family: var(--secondary_font);
  font-size: 1.5rem;
}
.video_section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  gap: 2rem;
  padding: 5rem 2rem;
}
.video_section p {
  width: 40%;
  font-family: var(--secondary_font);
  font-size: 1.3rem;
  color: black;
}
.video_section-video {
  width: 40%;
}
.our_description {
  position: relative;
  width: 90%;
  display: grid;
  grid-gap: 1rem;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.our_values,
.our_mission,
.our_vision,
.our_slogan {
  position: relative;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1rem;
  padding: 2rem 3rem;
  color: white;
}
.our_values {
  text-align: right;
  width: 100%;
  height: 600px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: var(--gradient--bottom_right);
}
.our_values--image {
  position: relative;
  width: 30%;
  height: auto;
}
.our_values:hover,
.our_mission:hover {
  background-image: var(--gradient--bottom);
}
.our_vision:hover,
.our_slogan:hover {
  background-image: var(--gradient--top);
}
.our_values-images {
  width: 30%;
  height: auto;
}
.our_mission {
  position: relative;
  text-align: left;
  width: 100%;
  height: 600px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: var(--gradient--bottom_left);
}
.our_vision {
  position: relative;
  text-align: right;
  width: 100%;
  height: 600px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: var(--gradient--top_right);
}
.our_slogan {
  position: relative;
  text-align: left;
  width: 100%;
  height: 600px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-image: var(--gradient--top_left);
}
.our_slogan-subtitle {
  width: 100%;
}
.our_values-title,
.our_mission-title,
.our_vision-title,
.our_slogan-title {
  width: 100%;
  font-size: 3rem;
}
.our_values-description,
.our_mission-description,
.our_vision-description,
.our_slogan-description {
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--secondary_font);
}
.our_leaders {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% repeat(2, 1fr);
  grid-gap: 2rem;
}
.our_leaders-title {
  position: relative;
  width: 100%;
  font-size: 8vw;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}
.jMandour {
  width: 70%;
  margin: 2rem;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-items: flex-end;
  gap: 3rem;
}
.jMandour_image {
  width: 600px;
  height: 600px;
  box-shadow: hsla(214, 100%, 18%, 0.5) 10px 10px 45px;
  border: #00275a solid 20px;
  transition: transform 0.2s ease-in-out;
}
.jMandour_title {
  position: relative;
  width: 100%;
  font-size: 1.5vw;
}
.jMandour_name {
  position: relative;
  width: 100%;
  font-size: 2vw;
  font-weight: var(--font_weight--bold);
}
.jMandour_description {
  position: relative;
  width: 100%;
  font-size: 1.5vw;
  font-family: var(--secondary_font);
  color: black;
}
.dLynam {
  width: 70%;
  margin: 2rem;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-items: flex-end;
  gap: 3rem;
}
.dLynam_image {
  width: 600px;
  height: 600px;
  box-shadow: hsla(214, 100%, 18%, 0.5) 10px 10px 45px;
  border: #00275a solid 20px;
  transition: transform 0.2s ease-in-out;
}
.dLynam_title {
  position: relative;
  width: 100%;
  font-size: 1.5vw;
  text-align: right;
}
.dLynam_name {
  position: relative;
  width: 100%;
  font-size: 2vw;
  font-weight: var(--font_weight--bold);
  text-align: right;
}
.dLynam_description {
  position: relative;
  width: 100%;
  font-size: 1.5vw;
  font-family: var(--secondary_font);
  color: black;
  text-align: right;
}
.services {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.our_services {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../Images/nasa.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.our_services h2 {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 8rem;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.services_list {
  position: relative;
  width: 100%;
  height: max-content;
  text-align: center;
  padding: 1rem;
  color: white;
  background-image: var(--gradient--bottom);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% repeat(2, 1fr);
  place-content: center;
  place-items: center;
}
.services_list p {
  position: relative;
  font-size: 2.5vw;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.logistics-container,
.data_technologies-container,
.cyber_security-container,
.healthcare_services-container,
.operational_support-container,
.program_management-container {
  position: relative;
  width: 500px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  cursor: pointer;
}
.logistics-content,
.data_technologies-content,
.cyber_security-content,
.healthcare_services-content,
.operational_support-content,
.program_management-content {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: hsla(214, 100%, 18%, 0.7);
  visibility: visible;
  transform: translateY(200px);
  opacity: 0;
  display: flex;
  place-content: center;
  place-items: center;
  font-family: var(--secondary_font);
  width: 500px;
  height: 300px;
  transition: all 0.3s ease-in-out;
}
.logistics-content p,
.data_technologies-content p,
.cyber_security-content p,
.healthcare_services-content p,
.operational_support-content p,
.program_management-content p {
  font-size: 1.5vw;
}
.logistics-container:hover .logistics-content,
.data_technologies-container:hover .data_technologies-content,
.cyber_security-container:hover .cyber_security-content,
.healthcare_services-container:hover .healthcare_services-content,
.operational_support-container:hover .operational_support-content,
.program_management-container:hover .program_management-content {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  cursor: pointer;
}
.logistics-container {
  background-image: url("../Images/logistics.webp");
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.data_technologies-container {
  background-image: url("../Images/data-analysis.webp");
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.cyber_security-container {
  background-image: url("../Images/cybersecurity.webp");
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.healthcare_services-container {
  background-image: url("../Images/healthcare.webp");
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.operational_support-container {
  background-image: url("../Images/managed.webp");
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.program_management-container {
  background-image: url("../Images/information.webp");
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.backdrop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.8);
  z-index: 9;
  transition: all 0.35s ease-in-out;
}
.our_services--popup-container {
  position: fixed;
  width: 80%;
  top: 100px;
  bottom: 100px;
  padding: 3rem 6rem;
  color: white;
  background-color: var(--primary_color);
  background-image: linear-gradient(
    to bottom left,
    hsla(214, 100%, 18%, 0.5),
    hsla(209, 94%, 25%, 0.5),
    hsla(204, 92%, 31%, 0.5),
    hsla(201, 94%, 37%, 0.5),
    hsla(198, 94%, 44%, 0.5)
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  gap: 1rem;
  z-index: 10;
}
.logistics_popup,
.Program-Management_popup,
.Operational-Support_popup,
.Healthcare-Services_popup,
.Data-Technologies_popup,
.Cyber-security_popup {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.35s ease-in-out;
}
.logistics_image {
  background-image: url("../Images/logistics.webp");
}
.Program-Management_image {
  background-image: url("../Images/information.webp");
}
.Operational-Support_image {
  background-image: url("../Images/managed.webp");
}
.Healthcare-Services_image {
  background-image: url("../Images/healthcare.webp");
}
.Data-Technologies_image {
  background-image: url("../Images/data\ analysis.webp");
}
.Cyber-security_image {
  background-image: url("../Images/cybersecurity.webp");
}
.our_services--popup-text {
  position: relative;
  width: 100%;
}
.our_services--popup-title {
  position: relative;
  width: 100%;
  font-family: var(--main_font);
  font-size: 2.4vw;
  color: white;
}
.our_services--popup-description {
  position: relative;
  width: 100%;
  font-family: var(--secondary_font);
  font-size: 1.2vw;
  font-weight: var(--font_weight--light);
}
.our_services--popup-image {
  position: relative;
  width: 100%;
  height: 500px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.close_button {
  position: fixed;
  outline: none;
  color: white;
  top: 50px;
  left: 50px;
  border: white solid 2px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.our_partners {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: center;
  place-items: center;
}
.our_partners-title {
  position: relative;
  width: 100%;
  font-size: 6vw;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}
.our_partners-images {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 2rem 2rem;
  gap: 2rem;
  width: 60%;
  box-shadow: hsla(214, 100%, 18%, 0.5) 10px 10px 45px;
}
.our_partners-image {
  max-width: 60%;
  height: auto;
}
.awards {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.awards_title {
  position: relative;
  width: 50%;
  text-align: center;
  font-size: 4vw;
}
.awrards_individual {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: space-around;
  place-items: center;
  text-align: center;
  font-family: var(--main_font);
  font-size: 1.4vw;
}
.award1,
.award2,
.award3 {
  display: flex;
  flex-direction: column;
  place-content: space-around;
  place-items: center;
  text-align: center;
  gap: 1rem;
}
.award_description {
  position: relative;
  width: 60%;
}
.contact_us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1rem;
}
.contact_us-header {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../Images/network-g65110bebb-1920.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.contact_us-header h2 {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 8vw;
  -webkit-text-stroke: 3px white;
  -webkit-text-fill-color: transparent;
}
.contact_us i {
  position: relative;
  text-align: center;
  font-size: 5rem;
}
.contact_us p {
  position: relative;
}
.contact_us-information {
  position: relative;
  margin: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.mail,
.phone,
.meetus,
.business_hours {
  position: relative;
  padding: 2rem;
  border: #00275a solid 1px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  place-content: start;
  place-items: center;
}
.mail {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.meetus {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.business_hours {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.business_hours {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.contact_us-map {
  place-self: center;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.map_mobile {
  display: none;
}
.map_sm {
  display: none;
}
footer {
  position: relative;
  width: 100%;
  background: var(--gradient--bottom);
  color: #00275a;
  padding: 2rem 10rem;
  display: flex;
  place-content: space-between;
  place-items: start;
}
footer .sanford_logo {
  position: relative;
  width: 350px;
}
footer ul li {
  margin: 1rem 0rem;
  font-size: 1.2rem;
  font-family: var(--secondary_font);
  font-weight: var(--font_weight--regular);
}
.footer_first-li {
  font-size: 1.8rem;
  font-family: var(--main_font);
  font-weight: var(--font_weight--regular);
}
footer a,
footer ul a:visited,
footer ul a:active {
  color: white;
  text-decoration: none;
}
footer ul a:hover,
footer ul a:focus {
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: underline;
}
.horizontal_break {
  position: relative;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #d2a517;
}
.footer_navbar {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: center;
  place-items: start;
}
.footer_services {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: center;
  place-items: start;
}
@media only screen and (max-width: 1596px) {
  .main_header {
    height: 900px;
  }
  .ceo_image {
    max-width: 400px;
  }
  .logistics-container,
  .data_technologies-container,
  .cyber_security-container,
  .healthcare_services-container,
  .operational_support-container,
  .program_management-container {
    width: 400px;
    height: 250px;
  }
  .logistics-content,
  .data_technologies-content,
  .cyber_security-content,
  .healthcare_services-content,
  .operational_support-content,
  .program_management-content {
    width: 400px;
    height: 250px;
  }
}
@media only screen and (max-width: 1296px) {
  .main_header {
    height: 700px;
    background-image: url("../Images/pexels-pixabay-220201.webp");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero_video,
  .left_button,
  .right_button {
    display: none;
  }
  .main_nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main_nav > ul {
    font-size: 1.2rem;
  }
  .main_nav > a > img {
    max-width: 16rem;
  }
  .dropdownMenu-content {
    width: 250px;
  }
  .main_slogant {
    transform: translateY(250px);
  }
  .main_headline {
    font-size: 3rem;
  }
  .main_headline--description {
    font-family: var(--secondary_font);
    font-size: 1.5rem;
  }
  .ceo_image {
    max-width: 300px;
  }
  .ceo_message p {
    font-size: 1rem;
  }
  .our_values {
    height: 400px;
  }
  .our_mission {
    height: 400px;
  }
  .our_vision {
    height: 400px;
  }
  .our_slogan {
    height: 400px;
  }
  .our_slogan-subtitle {
    width: 100%;
  }
  .our_values-title,
  .our_mission-title,
  .our_vision-title,
  .our_slogan-title {
    font-size: 2rem;
  }
  .our_values-description,
  .our_mission-description,
  .our_vision-description,
  .our_slogan-description {
    font-size: 1rem;
  }
  .logistics-container,
  .data_technologies-container,
  .cyber_security-container,
  .healthcare_services-container,
  .operational_support-container,
  .program_management-container {
    width: 300px;
    height: 200px;
  }
  .logistics-content,
  .data_technologies-content,
  .cyber_security-content,
  .healthcare_services-content,
  .operational_support-content,
  .program_management-content {
    width: 300px;
    height: 200px;
  }
  .our_services h2 {
    font-size: 6rem;
  }
  .our_services--popup-container {
    top: 40px;
    bottom: 40px;
    flex-direction: column;
  }
  .logistics_popup,
  .Program-Management_popup,
  .Operational-Support_popup,
  .Healthcare-Services_popup,
  .Data-Technologies_popup,
  .Cyber-security_popup {
    visibility: hidden;
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.35s ease-in-out;
  }
  .our_services--popup-title {
    font-size: 2rem;
  }
  .our_services--popup-description {
    font-size: 1.2rem;
  }
  .our_services--popup-image {
    height: 300px;
  }
  .video_section p {
    font-size: 1rem;
  }
  .our_leaders-title {
    position: relative;
    width: 100%;
    font-size: 6.5rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
  }
  .jMandour_image {
    width: 400px;
    height: 400px;
  }
  .jMandour_title {
    font-size: 1.1rem;
  }
  .jMandour_name {
    font-size: 1.4rem;
  }
  .jMandour_description {
    font-size: 1.1rem;
  }
  .dLynam_image {
    width: 400px;
    height: 400px;
  }
  .dLynam_title {
    font-size: 1.1rem;
  }
  .dLynam_name {
    font-size: 1.4rem;
  }
  .dLynam_description {
    font-size: 1.1rem;
  }
  .our_partners {
    margin: 4rem;
  }
  .our_partners-title {
    font-size: 4rem;
  }
  .our_partners-images {
    width: 70%;
    height: 200px;
  }
  .our_partners-images::-webkit-scrollbar {
    height: 7px;
  }
  .awards {
    margin: 4rem;
  }
  .awrards_individual {
    font-size: 1.4rem;
  }
  .awrards_individual img {
    width: 40%;
  }
  .award_description {
    width: 80%;
    font-size: 1.2rem;
    font-family: var(--secondary_font);
  }
  footer {
    padding: 2rem 2rem;
    place-content: space-around;
  }
  footer .sanford_logo {
    width: 250px;
  }
  footer ul li {
    margin: 1rem 0rem;
    font-size: 1rem;
  }
  .footer_first-li {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 995px) {
  .hero_video,
  .left_button,
  .right_button {
    display: none;
  }
  .main_nav {
    width: 100%;
    margin: 0;
  }
  .main_nav > ul {
    font-size: 1rem;
  }
  .main_nav > a > img {
    max-width: 14rem;
  }
  .dropdownMenu-content {
    width: 200px;
  }
  .ceo_message p {
    font-size: 1rem;
  }
  .Who_we_are h2 {
    position: relative;
    font-size: 6rem;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
  }
  .Who_we_are p {
    position: relative;
    width: 70%;
    color: white;
    font-family: var(--secondary_font);
    font-size: 1rem;
  }
  .video_section p {
    font-size: 1rem;
  }
  .our_services h2 {
    font-size: 4rem;
  }
  .our_description {
    width: 100%;
  }
  .our_values {
    height: 300px;
  }
  .our_mission {
    height: 300px;
  }
  .our_vision {
    height: 300px;
  }
  .our_slogan {
    height: 300px;
  }
  .our_slogan-subtitle {
    width: 100%;
  }
  .our_values-title,
  .our_mission-title,
  .our_vision-title,
  .our_slogan-title {
    font-size: 1.5rem;
  }
  .our_values-description,
  .our_mission-description,
  .our_vision-description,
  .our_slogan-description {
    font-size: 0.8rem;
  }
  .our_services--popup-container {
    top: 100px;
    bottom: 100px;
  }
  .our_leaders-title {
    font-size: 5rem;
  }
  .jMandour_image {
    width: 300px;
    height: 300px;
  }
  .jMandour_title {
    font-size: 0.8rem;
  }
  .jMandour_name {
    font-size: 1rem;
  }
  .jMandour_description {
    font-size: 0.8rem;
  }
  .dLynam_image {
    width: 300px;
    height: 300px;
  }
  .dLynam_title {
    font-size: 0.8rem;
  }
  .dLynam_name {
    font-size: 1rem;
  }
  .dLynam_description {
    font-size: 0.8rem;
  }
  .services_list {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 4rem;
    color: white;
    background-image: var(--gradient--bottom);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% repeat(3, 1fr);
    place-content: center;
    place-items: center;
  }
  .services_list p {
    position: relative;
    font-size: 2.5vw;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .logistics-container,
  .data_technologies-container,
  .cyber_security-container,
  .healthcare_services-container,
  .operational_support-container,
  .program_management-container {
    width: 350px;
    height: 250px;
  }
  .logistics-content,
  .data_technologies-content,
  .cyber_security-content,
  .healthcare_services-content,
  .operational_support-content,
  .program_management-content {
    position: absolute;
    width: 350px;
    height: 250px;
    visibility: visible;
    transform: translateY(0);
    bottom: 0;
    opacity: 1;
    cursor: pointer;
  }
  .logistics-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .data_technologies-container {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  .cyber_security-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .healthcare_services-container {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
  .operational_support-container {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .program_management-container {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }
  .contact_us-header h2 {
    font-size: 8rem;
    -webkit-text-stroke: 2px white;
  }
  .contact_us i {
    font-size: 3rem;
  }
  .contact_us-information {
    margin: 3rem;
  }
  .mail,
  .phone,
  .meetus,
  .business_hours {
    font-size: 0.9rem;
  }
  footer {
    padding: 2rem 2rem;
    place-content: space-around;
  }
  footer .sanford_logo {
    width: 200px;
  }
  footer ul li {
    margin: 1rem 0rem;
    font-size: 0.8rem;
  }
  .footer_first-li {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 845px) {
  .main_nav {
    display: none;
  }
  .navbar_mobile {
    position: absolute;
    width: 100%;
    background-color: hsla(214, 100%, 18%, 0.6);
    backdrop-filter: blur(10px);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
    z-index: 15;
  }
  .navbar_mobile--logo {
    text-align: left;
  }
  .navbar_mobile--logo img {
    width: 150px;
  }
  .navbar_mobile--menubutton {
    font-size: 2.2rem;
    text-align: right;
    cursor: pointer;
  }
  .navbar_mobile--menu {
    position: absolute;
    width: 100%;
    background-color: hsla(214, 100%, 34%, 0.5);
    backdrop-filter: blur(10px);
    top: 89px;
    right: 0;
    text-align: left;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar_mobile--menu a,
  .navbar_mobile--menu a:visited,
  .navbar_mobile--menu a:hover,
  .navbar_mobile--menu a:focus {
    width: 100%;
    color: white;
    text-decoration: none;
  }
  .navbar_mobile-title {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-items: center;
    gap: 0.5rem;
  }
  .navbar_mobile-title i {
    font-size: 1.5rem;
    color: #d2a517;
    cursor: pointer;
  }
  .navbar_mobile--aboutus,
  .navbar_mobile-services {
    position: absolute;
    width: 100%;
    padding: 2rem;
    list-style: none;
    font-family: var(--secondary_font);
    background-color: hsla(198, 94%, 44%, 0.5);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
  }
  .active_menu {
    visibility: visible;
    opacity: 1;
  }
  .active_items {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  .aboutusbutton,
  .servicesbutton {
    cursor: pointer;
  }
  .triangle {
    transition: transform 0.2s ease-in-out;
  }
  .triangleRotate {
    transform: rotate(90deg);
  }
  .navbar_mobile--aboutus li,
  .navbar_mobile-services li {
    padding: 0.3rem;
  }
  .ceo_message {
    flex-direction: column;
  }
  .ceo_image {
    max-width: 80%;
  }
  .ceo_message-title {
    font-size: 2rem;
  }
  .ceo_message p {
    font-size: 1rem;
  }
  .ceo_message-description {
    width: 100%;
  }
  .ceo_signature {
    max-width: 40%;
  }
  iframe {
    max-width: 540px;
    max-height: 280px;
  }
  .video_section {
    flex-direction: column;
  }
  .video_section p {
    width: 80%;
  }
  .video_section-video {
    width: 80%;
  }
  .our_description {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .our_values {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .our_mission {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .our_vision {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .our_slogan {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  .our_slogan-subtitle {
    width: 100%;
  }
  .our_values,
  .our_mission,
  .our_vision,
  .our_slogan {
    padding: 2rem 2rem;
    margin: 1rem;
  }
  .our_values--image {
    width: 30%;
  }
  .our_values-title,
  .our_mission-title,
  .our_vision-title,
  .our_slogan-title {
    width: 100%;
    font-size: 1.2rem;
  }
  .our_values-description,
  .our_mission-description,
  .our_vision-description,
  .our_slogan-description {
    font-size: 0.8rem;
  }
  .our_leaders-title {
    font-size: 4rem;
  }
  .jMandour,
  .dLynam {
    width: 80%;
    flex-direction: column-reverse;
    place-content: center;
    place-items: center;
  }
  .dLynam {
    flex-direction: column;
  }
  .jMandour_image,
  .dLynam_image {
    width: 60%;
    height: 60%;
    border: #00275a solid 20px;
  }
  .jMandour_title,
  .dLynam_title {
    text-align: center;
    font-size: 1.2rem;
  }
  .jMandour_name,
  .dLynam_name {
    text-align: center;
    font-size: 1.8rem;
  }
  .jMandour_description,
  .dLynam_description {
    text-align: center;
    font-size: 1rem;
  }
  .services_list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% repeat(6, 1fr);
    place-content: center;
    place-items: center;
    gap: 0.5rem;
    padding: 4rem 2rem;
  }
  .services_list p {
    font-size: 1.5rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .logistics-container,
  .data_technologies-container,
  .cyber_security-container,
  .healthcare_services-container,
  .operational_support-container,
  .program_management-container {
    width: 100%;
    height: 200px;
  }
  .logistics-content,
  .data_technologies-content,
  .cyber_security-content,
  .healthcare_services-content,
  .operational_support-content,
  .program_management-content {
    width: 100%;
    height: 100%;
  }
  .logistics-content p,
  .data_technologies-content p,
  .cyber_security-content p,
  .healthcare_services-content p,
  .operational_support-content p,
  .program_management-content p {
    font-size: 1rem;
  }
  .logistics-container {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .data_technologies-container {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
  .cyber_security-container {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }
  .healthcare_services-container {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }
  .operational_support-container {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
  }
  .program_management-container {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
  }
  .our_services--popup-container {
    padding: 3rem 1rem;
    top: 50px;
    bottom: 50px;
  }
  .our_services--popup-title {
    font-size: 2rem;
  }
  .our_services--popup-description {
    font-size: 1.2rem;
  }
  .our_services--popup-image {
    height: 300px;
  }
  .close_button {
    top: 10px;
    left: 10px;
    font-size: 0.8rem;
  }
  .our_partners-images {
    width: 100%;
    height: 200px;
  }
  .our_partners-image {
    max-width: 100%;
    height: auto;
  }
  .award_description {
    font-size: 1rem;
  }
  .contact_us-header h2 {
    font-size: 3rem;
  }
  .contact_us-information {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
  }
  .mail,
  .phone,
  .meetus,
  .business_hours {
    display: flex;
    flex-direction: column;
    place-content: start;
    place-items: center;
    height: 100%;
  }
  .map_desktop {
    display: none;
  }
  .map_mobile {
    display: block;
  }
  footer {
    padding: 1rem 1rem;
    place-content: space-around;
    gap: 1rem;
  }
  footer .sanford_logo {
    width: 150px;
  }
  footer ul li {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
    font-weight: var(--font_weight--regular);
  }
  .footer_first-li {
    font-size: 1rem;
  }
  .map_sm {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .our_values--image {
    width: 50%;
  }
  .our_services--popup-container {
    top: 50px;
    bottom: 50px;
    padding: 1rem 1rem;
  }
  .our_services--popup-title {
    font-size: 1.2rem;
  }
  .our_services--popup-description {
    font-size: 0.6rem;
  }
  .our_services--popup-image {
    height: 300px;
  }
  .close_button {
    top: 30px;
    left: 30px;
    font-size: 0.8rem;
  }
  footer {
    flex-wrap: wrap;
  }
  footer .sanford_logo {
    width: 350px;
  }
  .map_sm {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .main_headline {
    font-size: 2.5rem;
  }
  .main_headline--description {
    width: 80%;
    font-size: 1.5rem;
    margin: 0 auto;
  }
  .Who_we_are h2 {
    font-size: 3.5rem;
  }
  .video_section p {
    font-size: 0.8rem;
  }
  .our_description {
    width: 100%;
    margin: 0;
    gap: 0.5rem;
  }
  .our_values,
  .our_mission,
  .our_vision,
  .our_slogan {
    padding: 1rem 1rem;
  }
  .our_values--image {
    width: 70%;
  }
  .our_services--popup-container {
    padding: 0.2rem 0.5rem;
    width: 60%;
    top: 150px;
    bottom: 150px;
  }
  .our_services--popup-title {
    width: 100%;
    font-size: 1rem;
  }
  .our_services--popup-description {
    width: 100%;
    font-size: 0.7rem;
  }
  .our_services--popup-image {
    width: 100%;
    height: 150px;
  }
  .close_button {
    top: 10px;
    left: 10px;
    padding: 0.2rem;
    border: #f1f1f1 solid 0.4px;
    font-size: 0.4rem;
  }
  .our_leaders {
    margin: 1rem 0 0 0;
    grid-gap: 0rem;
  }
  .our_leaders-title {
    font-size: 3.5rem;
  }
  .our_partners-title {
    font-size: 2rem;
  }
  .map_mobile {
    display: none;
  }
  .map_sm {
    display: block;
  }
  footer {
    place-content: start;
  }
  footer .sanford_logo {
    width: 220px;
  }
}
@media only screen and (max-width: 325px) {
  .our_services--popup-container {
    width: 100%;
    padding: 0.2rem 0.5rem;
    width: 60%;
    top: 50px;
    bottom: 50px;
  }
  .our_services--popup-title {
    width: 100%;
    font-size: 1rem;
  }
  .our_services--popup-description {
    width: 100%;
    font-size: 0.7rem;
  }
  .our_services--popup-image {
    width: 100%;
    height: 150px;
  }
  .close_button {
    top: 10px;
    left: 10px;
    padding: 0.2rem;
    border: #f1f1f1 solid 0.4px;
    font-size: 0.4rem;
  }
}